{% load static %}
{%if request.htmx %}
    <link rel="stylesheet"  id="swappable-stylesheet" href="{% static 'shop/css/cart.css' %}"
    hx-swap-oob="true"
    >
{% endif %}
<main id="main-container" class="container section">
    <div class="section__header">
    <div>
        <h1 class="section__title">Shopping cart</h1>
        <p class="section__subtitle">Review items before proceeding to checkout.</p>
    </div>
    <a class="nav-link" href="products.html">Continue shopping</a>
    </div>
    
    <div class="layout">
    <div class="cart-items">
        {% for item,values in cart.items %}
            <article class="cart-item">
            <img class="cart__image" src="/media/{{values.image_url}}" alt="Coat">
            <div class="cart-item__info">
                <strong> 
                    <a href="{% url 'shop:product-detail' values.slug %}?color={{values.color}}&size={{values.size}}"
                    >{{values.slug}}</a>
                </strong>
                <span class="section__subtitle">Color: {{values.color}}, 
                    Size: {{values.size}}, 
                    price: ${{values.price}},
                    quantity: {{values.quantity}}
                </span>
                <div class="quantity">
                <button class="quantity__btn quantity__btn--reduce" type="button">-</button>
                <span> {{values.quantity}} </span>
                <button class="quantity__btn quantity__btn--add" type="button">+</button>
                </div>
            </div>
            <div class="cart-item__actions">
                <strong>${{values.subtotal}}</strong>
                <span class="section__subtitle">Subtotal ${{values.subtotal}}</span>
                <a class="nav-link" href="#">Remove</a>
            </div>
            </article>
        {% endfor %}
    </div>

    <aside class="cart-summary">
        <div>
        <h3 style="margin:0;">Summary</h3>
        </div>
        <div class="promo">
        <label class="form__label" for="promo">Promo code</label>
        <input id="promo" class="form__control" type="text" placeholder="Enter code">
        </div>
        <div class="totals">
        <div class="totals__row">
            <span>Subtotal</span>
            <span>$700</span>
        </div>
        <div class="totals__row">
            <span>Shipping estimate</span>
            <span>$20</span>
        </div>
        <div class="totals__row">
            <span>Tax estimate</span>
            <span>$65</span>
        </div>
        <div class="totals__row totals__grand">
            <span>Order total</span>
            <span>$785</span>
        </div>
        </div>
        <a class="btn btn--primary" href="checkout.html">Proceed to checkout</a>
    </aside>
    </div>
</main>