{% include 'shop/partials/_cart-counter-main.html' %} 

{% if from == "detail" %}
<button 
    class="btn btn--primary" 
    type="button"
    id="detail-add-to-cart"
    hx-select="unset"
    hx-post="{% url 'shop:add-to-cart' %}"
    hx-include="#variant-form"
    hx-vals = '{
        "id": "{{order_item.product_id}}",
        "name": "{{order_item.name}}",
        "image_url": "{{order_item.image_url}}",
        "price":"{{order_item.price}}",
        "slug": "{{order_item.slug}}",
        "image_id": "{{order_item.image_id}}",
        "curr_total_quantity": "{{order_item.curr_total_quantity}}",
        "from":"detail"
    }'
    hx-target="#cart-count-top"
    hx-swap="outerHTML settle:1s"
    hx-swap-oob="true"
    >Add to cart</button>
{% endif %}

{% if from == "index" %}
    <span 
    id="cart-counter-on-product-{{product_id}}" 
    class="btn__counter"
    hx-swap-oob="true"
    >{{new_count}}</span>
{% endif %}

{% if from == "cart" %}
{% include "shop/partials/_cart_page_counter.html" %}
{% endif %}

{% include 'shop/partials/_toasts.html' %}
