{% if cart %}
<div class="cart-items">
    {% for item,values in cart.items %}
        <article class="cart-item">
        <img class="cart__image" src="{{values.image_url}}" alt="Coat">
        <div class="cart-item__info">
            <strong> 
                <a 
                title="click to see item"
                href="{% url 'shop:product-detail' values.slug %}?color={{values.color}}&size={{values.size}}"
                >{{values.slug}}</a>
            </strong>
            <span class="section__subtitle">Color: {{values.color}}, 
                Size: {{values.size}}, 
                price: ${{values.price}},
                quantity: {{values.quantity}}
            </span>
            <div class="quantity">
            <button 
            class="quantity__btn quantity__btn--reduce"
            type="button"
            hx-post="{% url 'shop:add-to-cart' %}"
            hx-vals = '{
                "id": "{{ values.product_id }}",
                "name": "{{ values.name}}",
                "image_url": "{{ values.image_url }}",
                "image_id": "{{ values.image_id}}",
                "price": "{{ values.price }}",
                "color": "{{ values.color }}",
                "curr_total_quantity": "{{ values.curr_total_quantity }}",
                "current_quantity": "{{ values.quantity }}",
                "size": "{{ values.size }}",
                "slug": "{{ values.slug }}",
                "action":"subtract",
                "from": "cart"
            }'    
            hx-target="#cart-counter-on-product-{{values.product_id}}-{{values.image_id}}"
            hx-swap="outerHTML"                 
            >-</button>
            <span
            id="cart-counter-on-product-{{values.product_id}}-{{values.image_id}}"
            > {{values.quantity}} </span>
            <button 
            class="quantity__btn quantity__btn--add" 
            type="button"
            hx-post="{% url 'shop:add-to-cart' %}"
            hx-vals = '{
                "id": "{{ values.product_id }}",
                "name": "{{ values.name}}",
                "image_url": "{{ values.image_url }}",
                "image_id": "{{ values.image_id}}",
                "price": "{{ values.price }}",
                "color": "{{ values.color }}",
                "curr_total_quantity": "{{ values.curr_total_quantity }}",
                "current_quantity": "{{ values.quantity }}",
                "size": "{{ values.size }}",
                "slug": "{{ values.slug }}",
                "from": "cart"
            }'    
            hx-target="#cart-counter-on-product-{{values.product_id}}-{{values.image_id}}"
            hx-swap="outerHTML"            
            >+</button>
            </div>
        </div>
        <div class="cart-item__actions">
            <strong>${{values.sub_total}}</strong>
            <span class="section__subtitle">Subtotal ${{values.sub_total}}</span>
            <button 
            class="nav-link remove" 
            hx-post="{% url 'shop:remove-from-cart' %}"

            hx-vals='{
                "product_slug": "{{values.slug}}",
                "product_id": "{{values.product_id}}",
                "image_id": "{{values.image_id}}",
                "from" : "cart"
            }'

            hx-target=".cart-items"
            hx-swap="outerHTML"
            hx-confirm="Are you sure u want to remove {{values.slug}} from cart"
            >Remove</button>
        </div>
        </article>
    {% endfor %}
</div>
{% else %}
<div 
style="color: red;  background-color:lightblue; padding: 1.5rem 0.5rem; border-radius:.3rem"
hx-boost="true"
>
    No items added to cart , 
    <a 
    class="nav-link" 
    href="{% url 'shop:home' %}"
    > Go home </a>
</div>

{% endif %}

{% if request.htmx and "cart" in request.META.HTTP_REFERER %}
    {% include 'shop/partials/_cart-counter-main.html' %}
{% endif %}
{% include 'shop/partials/_toasts.html' %}

{% if mergeable_products %}
    <dialog
    data-merge-dialog
    >
        <ul>
            Some Items were found when you were logged out. You can: 

            <li>click accept to merge with your own cart or</li>
            <li> Delete to delete cart  </li>
        </ul>
        <div class="cart dialog-main-container">
        {% for product,values in mergeable_products.items %}
            <article class="card product-card">         
            <a 
            class="product-card__link" 
            >   
                <div class="product-card__image">
                <img src="{{values.image_url}}" alt="Structured blazer">
                </div>
                <h3 class="product-card__title">{{values.name}}</h3>
                <small>size:{{values.size}}</small>
                <small>color:{{values.color}}</small>
                <div class="product-card__meta">
                <span>${{values.price}}</span>
                <span class="rating">
                    <svg class="star" viewBox="0 0 24 24"><polygon points="12 2 15.1 8.4 22 9.2 17 14.1 18.3 21 12 17.5 5.7 21 7 14.1 2 9.2 8.9 8.4 12 2"/></svg>
                    4.8
                </span>
                </div>
            </a>
            <!-- <button  
            class="btn btn--secondary" 
            type="button"
            hx-post="{% url 'shop:add-to-cart' %}"
            hx-vals = '{
                "id": "{{ values.values_id }}",
                "name": "{{ values.name}}",
                "image_url": "{{ values.image_url }}",
                "image_id": "{{ values.image_id}}",
                "price": "{{ values.price }}",
                "color": "{{ values.color }}",
                "curr_total_quantity": "{{ values.curr_total_quantity }}",
                "quantity_requested":"",
                "size": "{{ values.size }}",
                "slug": "{{ values.slug }}",
                "from": "index"
            }'
            hx-target="#cart-count-top"
            hx-swap="outerHTML"
            >Add to cart <span id="cart-counter-on-product-{{product.id}}" class="btn__counter">{{product.quantity_in_cart}}</span></button> -->
            </article>
        {% endfor %}
        </div>
        <button class="dialog__merge-btn"
        hx-post="{% url 'shop:merge-auth-unauth-cart' %}"
        hx-target=".cart-items"
        hx-swap="outerHTML transition:true"
        > Merge </button>
        <button class="dialog__del-btn"
        hx-delete="{% url 'shop:remove-unlogged-cart' %}"
        > Delete unlogged Cart</button>
        <button class="dialog__cancel-btn"
        > Cancel </button>
    </dialog>
{% endif %}
