
<main id="main-container" class="container section page-product-cart">
    <div class="section__header">
    <div>
        <h1 class="section__title">Shopping cart</h1>
        <p class="section__subtitle">Review items before proceeding to checkout.</p>
    </div>
    <a class="nav-link" href="products.html">Continue shopping</a>
    </div>
    
    <div class="layout">
    {% include 'shop/partials/_cart_items.html' %}
    <aside class="cart-summary">
        <div>
        <h3 style="margin:0;">Summary</h3>
        </div>
        <!-- <div class="promo">
        <label class="form__label" for="promo">Promo code</label>
        <input id="promo" class="form__control" type="text" placeholder="Enter code">
        </div> -->
        <div class="totals">
        <!-- <div class="totals__row">
            <span>Subtotal</span>
            <span>$700</span>
        </div> -->
        <!-- <div class="totals__row">
            <span>Shipping estimate</span>
            <span>$20</span>
        </div>
        <div class="totals__row">
            <span>Tax estimate</span>
            <span>$65</span>
        </div> -->
        <div class="totals__row totals__grand">
            <span>Order total</span>
            <span id="order-total">GHS {{cart_total}}</span>
        </div>
        </div>
        <a class="btn btn--primary{% if cart %} no-items {%endif%}" href="{% url 'shop:checkout' %}">Proceed to checkout</a>
    </aside>
    </div>
</main>

<script>
  function openMergeDialog(root=document) {
    const dlg = root.querySelector("dialog[data-merge-dialog]");
    if (dlg && !dlg.open) dlg.showModal();
  }
  document.addEventListener("DOMContentLoaded", () => openMergeDialog());
  document.body.addEventListener("htmx:load", (e) => openMergeDialog(e.target));

  cancelBtn = document.querySelector(".dialog__cancel-btn");
  delBtn = document.querySelector(".dialog__del-btn");
  mergeBtn = document.querySelector(".dialog__merge-btn");
  if(cancelBtn){
    cancelBtn.addEventListener("click", closeMergeDialog);
  }
  if(delBtn){
    delBtn.addEventListener("click", closeMergeDialog);
  }
  if(mergeBtn){
    mergeBtn.addEventListener("click", closeMergeDialog);
  }


  function closeMergeDialog() {
    const dlg = document.querySelector("dialog[data-merge-dialog]");
    if (dlg && dlg.open) {
        dlg.close();
    }
}

  document.body.addEventListener("click", (e) => openMergeDialog(e.target));

</script>
