{% load static %}
<main id="main-container"  class="container section page-checkout">
      <div class="section__header">
        <div>
          <h1 class="section__title">Checkout</h1>
          <p class="section__subtitle">Enter shipping and payment details to finalize your order.</p>
        </div>
      </div>

      <div class="stepper steps">
        <span class="steps__item steps__item--active"><span class="pill-number">1</span> Shipping</span>
        <span class="steps__item"><span class="pill-number">2</span> Payment</span>
        <span class="steps__item"><span class="pill-number">3</span> Review</span>
      </div>

        <ul>
          <li> Make sure you fill all details so u can pay </li>
        </ul>

      <div class="checkout-layout">
        
        <form class="card form" id="order-form">
          <h3 style="margin:0;">Shipping details</h3>
          <div class="form__group first-last">
            <div class="first-name">
              <label class="form__label" for="full-name">First name</label>
              <input name="first_name" id="first-name" class="form__control" type="text" placeholder="Alex">
            </div>
            <div class="last-name">
              <label class="form__label" for="full-name">Last name</label>
              <input name="last_name" id="last-name" class="form__control" type="text" placeholder="Taylor">
            </div>

          </div>
          <div class="form__group">
            <label class="form__label" for="address">Email</label>
            <input name="email" id="address" class="form__control" type="text" placeholder="john_doe@gmail.com">
          </div>


          <div class="form__group other-details-grid ">
            <div class="form__group">
              <label class="form__label" for="city">City</label>
              <input name="city" id="city" class="form__control" type="text" placeholder="Seattle">
            </div>
            <div class="form__group">
              <label class="form__label" for="country">Country</label>
              <input name="country" id="country" class="form__control" type="text" placeholder="United States">
            </div>
            <!-- <div class="form__group">
              <label class="form__label" for="postal">Postal code</label>
              <input id="postal" class="form__control" type="text" placeholder="98101">
            </div> -->
            <div class="form__group">
              <label class="form__label" for="phone">Phone</label>
              <input name="phone" id="phone" class="form__control" type="tel" placeholder="+1 (555) 230-8890">
            </div>
          </div>


          <!-- <h3 style="margin: var(--space-lg) 0 var(--space-sm);">Payment</h3> -->
          <!-- <div class="form__group">
            <label class="form__label" for="name-card">Name on card</label>
            <input id="name-card" class="form__control" type="text" placeholder="Alex Taylor">
          </div>
          <div class="form__group">
            <label class="form__label" for="card-number">Card number</label>
            <input id="card-number" class="form__control" type="text" placeholder="0000 0000 0000 0000">
          </div>
          <div class="grid" style="grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); gap: var(--space-md);">
            <div class="form__group">
              <label class="form__label" for="expiry">Expiry</label>
              <input id="expiry" class="form__control" type="text" placeholder="MM/YY">
            </div>
            <div class="form__group">
              <label class="form__label" for="cvv">CVV</label>
              <input id="cvv" class="form__control" type="password" placeholder="•••">
            </div>
          </div> -->

          <!-- <div class="cta-row" style="margin-top: var(--space-lg);">
            <a class="btn btn--primary" href="#">Review order</a>
            <a class="btn btn--ghost" href="cart.html">Back to cart</a>
          </div> -->
        </form>

        <aside class="order-summary">
          <h3 style="margin:0;">Order summary</h3>
          <div class="order-items">
            {% for item, value in cart.items %}
              <div class="order-item">
                <div class="order-item-img-wrapper">
                  <img src="{{value.image_url}}" alt="Coat">
                </div>

                <div>
                  <strong>{{value.name}}</strong>
                  <div class="item-details">
                    <p class="section__subtitle">Size: {{value.size}},</p>
                    <p class="order-item-size">Color: {{value.color}},</p>
                    <p class="order-item-qty">Qty: {{value.quantity}}</p>
                    <p class="order-item-qty">Pr:₵ {{value.price|floatformat:2}}</p>
                  </div>

                </div>

                <span> ₵{{value.sub_total }}</span>
              </div>
            {% endfor %}

            <!-- <div class="order-item">
              <div class="order-item-img-wrapper">
                <img src="https://images.unsplash.com/photo-1475180098004-ca77a66827be?auto=format&fit=crop&w=300&q=80" alt="Bag">
              </div>

              <div>
                <strong>Weekender Duffel</strong>
                <div class="item-details">
                  <p class="section__subtitle">Storm — M</p>
                  <p class="order-item-size"> Color: Red</p>
                  <p class="order-item-qty"> Qty: 36</p>
                </div>
                
              </div>

              <span>$210</span>
              
              
            </div> -->
          </div>

          <div class="totals">
            <!-- <div class="totals__row">
              <span>Subtotal</span>
              <span>$490</span>
            </div> -->
            <!-- <div class="totals__row">
              <span>Shipping</span>
              <span>$20</span>
            </div> -->
            <div class="totals__row">
              <span>Tax</span>
              <span>$0.00</span>
            </div>
            <div class="totals__row totals__grand">
              <span>Total</span>
              <span>GHS {{cart_total}}</span>
            </div>

            <button  
              class="btn btn--primary payBtn {% if not cart %} no-items {% endif %}"
              hx-post="{% url 'shop:initiate-payment' %}"
              hx-include="#order-form"
              >
              <span class="paybtn-text"> Pay </span> 

                <img 
                  src="{% static 'images/oval.svg' %}" 
                  class="htmx-indicator"
                  width="20px"
                  alt="">

            </button>

            <!-- <button class="btn btn--primary" href="#">Pay</a> -->

          </div>
        </aside>

      </div>
    </main>

    <script>

      document.addEventListener("DOMContentLoaded", checkEmptyFields);
      const inputs = document.querySelectorAll(".form__control");

      for(const input of inputs){
        input.addEventListener(
          "keyup", checkEmptyFields
        )
      }
      
      function checkEmptyFields(){
        const payBtn = document.querySelector(".payBtn");
        let disableBtn = false;

        for(const input of inputs){

          if(input.value.trim() == ""){
            disableBtn = true;
          }
        }
        
        payBtn.disabled = disableBtn;
      }

    </script>