.continue-shopping-btn{
    width:fit-content; 
    position:relative; 
    left:50%; 
    transform:translateX(-50%);
    width: fit-content;
    background-color: #0d3b66;;
    color: white;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
}

.payment-msg{
    color: green;
}
.payment-msg.failed{
    color: red;
}