{% extends 'shop/base.html' %}
{% load static %}
{% block extra_styles %} <link rel="stylesheet" href="{% static 'shop/css/cart.css' %}"> {% endblock extra_styles %}

{% block content %}
{% include 'shop/partials/_cart.html'%}
{% endblock content %}

    <!-- <footer class="footer">
      <div class="container footer__inner">
        <div class="footer__grid">
          <div>
            <h4 class="footer__title">Northwind Commerce</h4>
            <p class="section__subtitle">Considered goods designed to last. Based in Seattle, serving customers worldwide.</p>
          </div>
          <div>
            <h4 class="footer__title">Company</h4>
            <ul>
              <li><a class="footer__link" href="about.html">About</a></li>
              <li><a class="footer__link" href="contact.html">Contact</a></li>
              <li><a class="footer__link" href="products.html">Shop</a></li>
            </ul>
          </div>
          <div>
            <h4 class="footer__title">Support</h4>
            <ul>
              <li><span class="footer__link">help@northwind.com</span></li>
              <li><span class="footer__link">+1 (555) 234-8890</span></li>
              <li><span class="footer__link">Mon–Fri, 9am–6pm PT</span></li>
            </ul>
          </div>
          <div>
            <h4 class="footer__title">Newsletter</h4>
            <form class="footer__newsletter">
              <input class="form__control" type="email" placeholder="Work email">
              <button class="btn btn--primary" type="button">Subscribe</button>
            </form>
          </div>
        </div>
        <div class="divider"></div>
        <p class="section__subtitle">© 2025 Northwind Commerce. Crafted for discerning professionals.</p>
      </div>
    </footer>
  </div>
</body>
</html> -->
