<section class="section related">
    <div class="section__header">
        <h2 class="section__title">{{category.name}} products</h2>
    </div>
    <div class="grid grid--three" hx-boost="true">
        {% for product in category_products %}
            <a class="card product-card" href="{% url 'shop:product-detail' product.slug %}">
            <div class="product-card__image">
                <img src="/media/{{product.first_image_for_cover}}" alt="{{product.name}}">
            </div>
            <h3 class="product-card__title">{{product.name}}</h3>
            <div class="product-card__meta">
                <span>${{product.details.0.unit_price}}</span>
                <span class="rating">
                <svg class="star" viewBox="0 0 24 24"><polygon points="12 2 15.1 8.4 22 9.2 17 14.1 18.3 21 12 17.5 5.7 21 7 14.1 2 9.2 8.9 8.4 12 2"/></svg>
                4.7
                </span>
            </div>
            </a>
        {% endfor %}
    </div>
</section>