    <table class="table">
    <thead>
        <tr>
        <th>Image</th>
        <th>Size</th>
        <th>color</th>
        <th>quantity</th>
        <th>unit price</th>
        <th>total price</th>
        <!-- <th>Actions</th> -->
        </tr>
    </thead>
    <tbody>
        <tr>
        <td style="display:flex; gap: var(--space-sm); align-items:center;">
            <img width="25px"  src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?auto=format&fit=crop&w=200&q=80" alt="Sofia">
            Sofia Martens
        </td>
        <td>sofia.martens@northwind.com</td>
        <td>Aug 09, 2024</td>
        <td>$980</td>
        <td>5</td>
        <td>5</td>
        <!-- <td class="table__actions">
            <a class="nav-link" href="#">View</a>
        </td> -->
        </tr>
        <tr>
        <td style="display:flex; gap: var(--space-sm); align-items:center;">
            <img width="25px"  src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?auto=format&fit=crop&w=200&q=80" alt="Sofia">
            Sofia Martens
        </td>
        <td>sofia.martens@northwind.com</td>
        <td>Aug 09, 2024</td>
        <td>$980</td>
        <td>5</td>
        <td>5</td>
        <!-- <td class="table__actions">
            <a class="nav-link" href="#">View</a>
        </td> -->
        </tr>
        <tr>
        <td style="display:flex; gap: var(--space-sm); align-items:center;">
            <button class="btn" type="button">Save all</button>
        </td>
        <td><button style="background-color:brown;" class="btn" type="button">Clear All</button></td>
        <td></td>
        <td> </td>
        <td> Total price:</td>
        <td> $10,000.00</td>
        <!-- <td class="table__actions">
        </td> -->
        </tr>

    </tbody>
    </table>
